<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Tulos</title>
</head>
<body>
    <h1>L채hetit tiedot</h1>
    <p>K채ytt채j채tunnus <%= data.kayttajatunnus %></p>
    <p>Salasana: <%= data.salasana %></p>
</body>
</html>